<!-- students.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Student Details</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fname</th>
                    <th>Lname</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through student data and create rows -->
                <% students.forEach(function(student) { %>
                    <tr>
                        <td><a href="/student/<%= student.stdid %>"><%= student.stdid %></a></td>
                        <td><%= student.firstName %> </td>
                        <td><%= student.lastName %></td>
                        <td><%= student.address %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <button class="btn btn-primary"><a href="/form" class="text-white">AddStudent</a></button>
    </div>
    
</body>
</html>
